.container{
    position: absolute;
    width: 85%;
    margin-left: 15%;
    height: 60%;
    background-size: cover;
    background-color: #e9f1fa;
    border: 3px solid #00abe4;
    padding: 100;
  }
  
  .container section{
    margin: 0 auto;
    padding: 1rem 1rem 1rem;
    
    border-top: 3px solid #00abe4;
  }

  .update {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  .list{
    background-color: rgb(255, 237, 216);
    text-align: center;
    border: 3px solid #00abe4;
    border-radius: 8px;
    height: 300px; 
    width: 50%;
    overflow-y: scroll;
  }
  
  .input{
    margin-top: 20px;
    margin-bottom: 1rem;
    align-items: center;
    text-align: left;
  }
  
  .label{
    width: 200px;
    cursor:context-menu;
    margin-bottom: 0.4rem;
    display: block;
    background-color: white;
    padding: 3px;
    border-radius: 15px;
  }
  
  .button{
    color: white;
    font-size: medium;
    display: block;
    width: 120px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 13px;
    background-color: #00abe4;
    cursor: pointer;
  }

  .success{
    font-size: large;
    color: rgb(5, 216, 5);
  } 